*{
    margin: 0%;
    padding: 0%;
}
#titulo{
    font-family: sans-serif;
    margin-left: 8%;
    color:lightskyblue
}

body {
 width: 100vw;
 height: 100vh;
 background-color: aliceblue;
font-family: sans-serif;
font-size: 1em;
margin-left: 36%;
margin-top: 2%;
justify-content: center;
}
fieldset{
    border: 0;
}
input, select, textarea {
    border-radius: 5px;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.3em;
    display: block;
}